<ul class = "store--item-list">   
    <li *ngFor = "let item of items">           
        <div class = "store--item-icon">
            <img src = "assets/icons/{{item.id}}.svg" />           
        </div>
      <div>{{ item.name }}</div>
      <div>{{ item.price | currency: 'GBP' }}</div>
      <button (click) = "addItemToCart(item)">Add to Cart</button>    
    </li>
  </ul>

  <div class="item-list store--item-list">
    <button (click)="sortItemsByPrice()">Sort by price</button>
    <button (click)="sortItemsByName()">Sort by name</button>
  </div>




  