<button (click)="sortItemsByPrice()">Sort by price</button>
<button (click)="sortItemsByName()">Sort by name</button>
<button (click)="showVegetables()">show Vegetables</button>
<button (click)="showFruits()">show fruits</button>
<ul class="item-list store--item-list">
    <ng-container *ngIf = "itemsChanged.length == 0"><app-store-item *ngFor="let item of items |async" [item]="item" (addToCart)="addToCart($event)" /></ng-container>
    <ng-container *ngIf="itemsChanged.length != 0"><app-store-item *ngFor="let item of itemsChanged " [item]="item"
            (addToCart)="addToCart($event)" /></ng-container>
</ul>

