
<ul class="item-list store--item-list">
    <li *ngFor="let item of items">
      <div class="store--item-icon">
        <img src="assets/icons/{{item.id}}.svg" alt="{{item.name}}" />
        <!--  <img src="assets/icons/{{item.id}}001-beetroot.svg" alt="beetroot" /> -->
      </div>
      <button (click)="addItemToCart(item)">Add to cart</button>
    </li>
      <ul>
      
      </ul>

  </ul>
  <div class="item-list store--item-list">
  <button (click)="sortItemByPriceInStore()">Sort by price</button>
  <button (click)="sortItemByNameInCart()">Sort by name</button>
  <button (click)="showVegetables()">show Vegetables</button>
  <button (click)="showFruits()">show fruits</button>
</div>
  