.item-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 16px;
  }