.groceries{
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.groceries-item{
  width: 20%;
}

.settings{
  display: flex;
  flex-direction: row;
}

.filters{
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
}

.sorting{
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
}
