<ul class="item-list cart--item-list">
    <li *ngFor="let item of cartItems">
        <img
            class="cart--item-icon"
            src="assets/icons/{{item.id}}.svg"
            alt="beetroot"
        />
        <p>{{item.name}}</p>
        <button (click)="removeOneElementFromCart(item)" class="quantity-btn remove-btn center">-</button>
        <span class="quantity-text center">{{item.quantity}}</span>
        <button (click)="addOneElementToCart(item)" class="quantity-btn add-btn center">+</button>
    </li>
</ul>
