img {
    max-width: 64px;
    margin-right: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

td, th {
    padding: 0.5rem 0.25rem;
}

tbody tr {
    border-bottom: 1px solid;
}

thead th {
    border-bottom: 4px solid black;
}

tfoot {
    font-weight: bold;
}

.item-name {
    display: flex;
    align-items: center;
}