#store {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
  }
  
  .item {
    flex: 0 0 calc(15% - 5px);
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
  }